<div class="app-container">
  <h1>Applicação</h1>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <div *ngIf="isPremiumClient; else notPremium">
    <p>Você é um cliente premium e tem acesso a informações diferenciadas</p>
  </div>
  <ng-template #notPremium>
    <p>Não é um cliente premium</p>
  </ng-template>
  <ul>
    <li *ngFor="let value of values">{{ value.id }} - {{ value.name }} - {{ value.description }}</li>
  </ul>
  <form>
    <label>Digite um nome</label>
    <input [(ngModel)]="name" />
    <button (click)="addNewItem()">Adicionar item</button>
  </form>
</div>